@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

.container h1 {
    font-size: 3.5rem;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}

.container h1 span {
    color: darkgray;
}

#textarea {
    display: flex;
    width: 600px;
    height: 250px;
    background: lightgrey;
    color: black;
    font-size: 15px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    resize: none;
    border: 0;
    outline: 0;
    font-weight: 1000;
}

input::placeholder {
    color: #888;
    font-size: 18px;
}

.row {
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}

button {
    background: #bb748a;
    color: white;
    border-radius: 35px;
    font-size: 16px;
    padding: 10px 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

select {
    flex: 1;
    color: black;
    background: lightcoral;
    border-radius: 35px;
    border: 0;
    outline: 0;
    padding: 0 20px;
    height: 50px;
}